<div class="container-fluid">
  <header>
    {{#if term}}
      <span class="light-grey">search results for '{{term}}'</span>
    {{else}}
      <span class="light-grey">recently updated items</span>
    {{/if}}
  </header>

  <div class="list-group">
    {{#each items}}
      <a class="list-group-item list-group-item-action" href="/items/{{id}}">
        <div class="item">
          <h5>{{name}}</h5>
          {{brand}} <small class="float-right">{{updatedAtDate}}</small>
        </div>
      </a>
    {{else}}
      <div class="alert alert-warning">nothing found</div>
    {{/each}}
  </div>
</div>
