<script>
  var item = {
    servingSize: {{servingSize}},
    servingSizeUnit: '{{servingSizeUnit}}',
    carbs: {{carbs}},
    baseFactor: {{carbs}} / {{servingSize}}
  };

  $(function() {

    function calculateCarbs() {
      var size = $('#servingSize').val();
      var unit = $('#servingSizeUnit').val();
      var conversionFactor = 1;

      if ( item.servingSizeUnit === 'cups' ) {
        if ( unit === 'tablespoons' ) {
          conversionFactor = 1 / 16;
        }
      }

      if ( item.servingSizeUnit === 'tablespoons' ) {
        if ( unit === 'teaspoons' ) {
          conversionFactor = 1 / 3;
        }
        if ( unit === 'cups' ) {
          conversionFactor = 1 * 16;
        }
      }

      if ( item.servingSizeUnit === 'teaspoons' ) {
        if ( unit === 'tablespoons' ) {
          conversionFactor = 1 * 3;
        }
      }

      if ( item.servingSizeUnit === 'grams' ) {
        if ( unit === 'ounces' ) {
          conversionFactor = 1 * 28.349
        }
      }

      if ( item.servingSizeUnit === 'ounces' ) {
        if ( unit === 'grams' ) {
          conversionFactor = 1 / 28.349;
        }
      }

      var calculatedCarbs = size * item.baseFactor * conversionFactor;
      $('#carbs').text(calculatedCarbs);
    }

    $('#servingSize').on('keyup', calculateCarbs);
    $('#servingSizeUnit').on('change', calculateCarbs);

  });
</script>

<div class="container-fluid">
  <header>
    <a href="/items">
      <button class="btn btn-outline-primary">
        &lt; back to recently updated items
      </button>
    </a>
  </header>

  <div id="app">
    <h3>
      {{name}}
      <a href="/items/{{id}}/edit">
        <button class="btn btn-sm btn-outline-danger">edit</button>
      </a>
    </h3>
    <h4>{{brand}}</h4>

    <div class="list-group">
      <div class="list-group-item">
        <div class="input-group">
          <input id="servingSize" class="form-control" value="{{servingSize}}" placeholder="{{servingSize}}">
          <select id="servingSizeUnit">
            {{#if isUnitCups}}
              <option value="cups">* cups</option>
              <option value="tablespoons">tablespoons</option>
            {{/if}}
            {{#if isUnitTablespoons}}
              <option value="tablespoons">* tablespoons</option>
              <option value="teaspoons">teaspoons</option>
              <option value="cups">cups</option>
            {{/if}}
            {{#if isUnitTeaspoons}}
              <option value="teaspoons">* teaspoons</option>
              <option value="tablespoons">tablespoons</option>
            {{/if}}
            {{#if isUnitGrams}}
              <option value="grams">* grams</option>
              <option value="ounces">ounces</option>
            {{/if}}
            {{#if isUnitOunces}}
              <option value="ounces">* ounces</option>
              <option value="grams">grams</option>
            {{/if}}
          </select>
        </div>
      </div>
      <div class="list-group-item">
        <span id="carbs">{{carbs}}</span>
        <span>carbohydrates</span>
      </div>
      <div class="list-group-item">
        <div class="light-grey">notes</div>
        {{notes}}
      </div>
      <div class="list-group-item">
        <div class="light-grey">date updated</div>
        {{updatedAt}}
      </div>
      <div class="list-group-item">
        <div class="light-grey">date added</div>
        {{createdAt}}
      </div>
    </div>

  </div>
</div>

